{% extends "base.html.twig" %}

{% block body %}
    <h1>Carnet de liaison : {{ carnetliaison.id }} </h1>

    {{ form_start(form) }}

    <div class="formcell col-md-6">
        {{ form_label(form.date, 'Date') }}
        {{ form_widget(form.date) }}
    </div>
    <div class="formcell col-md-6">
        {{ form_label(form.activites, 'Activites') }}
        {{ form_widget(form.activites) }}
    </div>
    <div class="formcell col-md-6">
        {{ form_label(form.repas, 'Repas') }}
        {{ form_widget(form.repas) }}
    </div>
    <div class="formcell col-md-6">
        {{ form_label(form.consignes, 'Consignes') }}
        {{ form_widget(form.consignes) }}
    </div>
    <div class="formcell col-md-6">
        {{ form_label(form.important, 'Important') }}
        {{ form_widget(form.important) }}
    </div>
    <input type="submit" value="Valider" />

    {{ form_end(form) }}

    <ul class="list-unstyled">
        {% if carnetliaison.id is not null %}
            <li>
                <a href="{{ path('carnetliaison_delete', { 'id': carnetliaison.id }) }}">supprimer</a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('carnetliaison_index') }}">retour</a>
        </li>

    </ul>


{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>
        // activé le datepicker sur toute les input qui ont la classe .js-datepicker
        $( document ).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: 'fr',
                todayHighlight: true
            }).on('changeDate', function() {
                $(this).datepicker("hide")
            });
        });
        // activer select2 sur l'id du select de choix multiple d'acitivté
        // et voila c'était un peu laborieux mais on y est arivé :p
        // des questions ? merci tu mets les commentair je comprend ske tu fais
        $(document).ready(function() {
            $('#appbundle_carnetliaison_activites').select2();
        });
    </script>
{% endblock %}