<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path("homepage") }}">MAM Les P'tits Câlins</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if is_granted("ROLE_ADMIN") %}
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item {% if 'enfant' in app.request.requestUri %}active{% endif %}">
                        <a class="nav-link" href="#">Enfant</a>
                    </li>
                    <li class="nav-item {% if 'carnetliaison' in app.request.requestUri %}active{% endif %}">
                        <a class="nav-link" href="{{ path('carnetliaison_index') }}">Carnet de Liaison</a>
                    </li>
                    <li class="nav-item {% if 'user' in app.request.requestUri %}active{% endif %}">
                        <a class="nav-link" href=""{{ path('user_index') }}>Utilisateurs</a>
                    </li>
                </ul>
            </div>
            <div><a href="{{ path('fos_user_security_logout') }}" class="btn btn-sm btn-info">Se déconnecter</a></div>

        {% elseif is_granted("ROLE_USER") %}
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item {% if 'enfant' in app.request.requestUri %}active{% endif %}">
                        <a class="nav-link" href="#">Mon Enfant</a>
                    </li>
                    <li class="nav-item {% if 'carnetliaison' in app.request.requestUri %}active{% endif %}">
                        <a class="nav-link" href="{{ path('carnetliaison_index') }}">Carnet de Liaison</a>
                    </li>
                </ul>
            </div>
            <div><a href="{{ path('fos_user_security_logout') }}" class="btn btn-sm btn-info">Se déconnecter</a></div>
        {% endif %}

    </div>
</nav>

